@import "tailwindcss";

.input-style {
    width: 100%;
    padding: 14px 16px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
    outline: none;
    transition: 0.3s ease;
    }

    .input-style:focus {
    border-color: #c6a86b;
    box-shadow: 0 0 10px rgba(198,168,107,0.3);
    }